*.pyc
*.swp
*.swo

build/*
dist/*
place.egg-info/*
.coverage

elm-stuff/
place_db.sqlite3

.vscode/
placeweb/static/placeweb/documentation/.doctrees
placeweb/static/placeweb/documentation/.buildinfo
placeweb/static/placeweb/documentation/objects.inv

.devcontainer/
.github/
