{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'placeweb/place.css' %}" />
</head>

<body>
    <script src="{% static 'placeweb/helper_functions.js' %}"></script>
    <div id="place-container">
        <div id="place-navbar">
            <a href="https://anaconda.org/freemapa/place">Install</a>
            <a href="documentation/index.html">Documentation</a>
            <a href="https://www.github.com/palab/place">Source</a>
            <a href="https://pal.blogs.auckland.ac.nz">PAL</a>
            <div class="dropdown">
                <button class="dropbtn">Plugins
                    <i class="caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% for plugin in plugins %}
                    <button onclick="userAddModule(
                    '{{ plugin.type }}',
                    Elm.{{ plugin.elmModule }},
                    '{{ plugin.elmModule }}')">{{ plugin.description }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="place-header">
            <h1>PLACE</h1>
            <p>Python Laboratory Automation, Control, and Experimentation</p>
        </div>
        <div id='place-content'>
            <div id='Place'></div>
        </div>
        <div id='plugin-navbar'>
            <div id='pluginbuttons'></div>
        </div>
        <div id='plugin-content'>
            <div id='pluginarea'></div>
        </div>
        <div id=place-footer>
            <footer>
                <p>PLACE {{ version }} | Author: Paul Freeman | 2018
                    <p>Originally created by: Jami L Johnson, Henrik tom W&ouml;rden, and Kasper van Wijk</p>
            </footer>
        </div>
    </div>

    <script src="{% static 'placeweb/Place.js' %}"></script>
    {% for plugin in plugins %}
        {% with 'placeweb/plugins/'|add:plugin.elmModule|add:'.js' as module %}
                <script src="{% static module %}"></script>
        {% endwith %}
    {% endfor %}

    <script>
        var place;
        var modulelist = [];
        var handlerlist = [];
        var node = document.getElementById('Place');
        var place = Elm.Place.embed(node, {
            version: "{{ version }}"
        });
        place.ports.pluginProgress.subscribe(runHandlers);
        place.ports.showPlugins.subscribe(showPlugins)
        place.ports.hidePlugins.subscribe(hidePlugins)
        {% for plugin in plugins %}
        if (localStorage.getItem("{{ plugin.elmModule }}") == "1") {
            addModule("{{ plugin.type }}", Elm.{{ plugin.elmModule }}, "{{ plugin.elmModule }}");
        }
        {% endfor %}
    </script>
</body>

</html>