{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'placeweb/place.css' %}" />
</head>

<body>
    <script src="{% static 'placeweb/helper_functions.js' %}"></script>
    <div class="container">
        <div class="navbar">
            <a href="/"><strong>PLACE {{ version }}</strong></a>
            <a href="https://anaconda.org/freemapa/place">Install</a>
            <a href="documentation/index.html">Documentation</a>
            <a href="https://www.github.com/palab/place">Source</a>
            <a href="https://pal.blogs.auckland.ac.nz", id="navbar-pal-button">PAL</a>
            <button type="button", id='place-configuration-button', onclick="placeConfiguration()">PLACE Configuration</button>
        </div>
        <div id='place-content'>
            <div id='Place'></div>
        </div>
        <div id='plugin-navbar'>
            <div id='pluginbuttons'></div>
        </div>
        <div id='plugin-content'>
            <div id='pluginarea'></div>
        </div>
        <div id=place-footer>
            <footer>
                <p>Python Laboratory Automation, Control, and Experimentation (PLACE)</p>
                <p>Version: {{ version }} | Authors: Paul Freeman, Jonathan Simpson | 2018-2023</p>
                <p>Originally created by: Jami L Johnson, Henrik tom W&ouml;rden, and Kasper van Wijk</p>
            </footer>
        </div>
    </div>

    <script src="{% static 'placeweb/Place.js' %}"></script>
    {% for plugin in plugins %}
        {% with 'placeweb/plugins/'|add:plugin.elmModule|add:'.js' as module %}
                <script src="{% static module %}"></script>
        {% endwith %}
    {% endfor %}

    <script>
        var place;
        var modulelist = [];
        var handlerlist = [];
        var node = document.getElementById('Place');
        var place = Elm.Place.embed(node, {
            version: "{{ version }}"
        });
        var pluginsList = [];
        {% for plugin in plugins %}
            pluginsList.push(['{{ plugin.type }}', Elm.{{ plugin.elmModule }},'{{ plugin.elmModule }}','{{ plugin.description }}']);
        {% endfor %}
        var changedPlaceCfg = false;

        place.ports.pluginProgress.subscribe(runHandlers);
        place.ports.showPlugins.subscribe(function(pluginlist) { showPlugins(pluginlist) });
        place.ports.hidePlugins.subscribe(hidePlugins);
        place.ports.showPluginsDropdown.subscribe(showPluginsDropdown);
        place.ports.hidePluginsDropdown.subscribe(hidePluginsDropdown);
        place.ports.uploadConfigFile.subscribe(uploadConfigFile);
        place.ports.userChangedPlaceCfg.subscribe(userChangedPlaceCfg);
        {% for plugin in plugins %}
        if (localStorage.getItem("{{ plugin.elmModule }}") == "1") {
            addModule("{{ plugin.type }}", Elm.{{ plugin.elmModule }}, "{{ plugin.elmModule }}");
        }
        {% endfor %}
    </script>
</body>

</html>