/* the container fills the whole page */
.container {
    display: flex;
    flex-flow: column;
    height: 100%
}

/* the navbar has all the menu options in it */
.navbar {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: gainsboro;
    width: 100%;
    overflow: hidden;
    margin: 0 0 3px 0;
}

.navbar a {
    float: left;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #333;
    color: white;
}

.navbar__dropdown {
    float: left;
    overflow: hidden;
}

.navbar__dropdown button {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    border: none;
    outline: none;
    color: #333;
    padding: 6px 8px;
    background-color: gainsboro;
    width: 100%;
}

.navbar__dropdown:hover .navbar__dropdown__menu {
    background-color: #333;
    color: white;
}

.navbar__dropdown__content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar__dropdown:hover .navbar__dropdown__content {
    display: block;
}

.navbar__dropdown__content button:hover {
    background-color: #333;
    color: white;
}

.configure-experiment__input input{
    font-size: 14pt;
    background-color: rgba(220,220,220,0.7);
    border: none;
    margin-bottom: 3px;
}
.configure-experiment__input textarea{
    font-size: 10pt;
    background-color: rgba(220,220,220,0.7);
    border: none;
    width: 100%;
}

.configure-experiment__graphic {
    margin: 0 auto;
    width: 700px;
}

.configure-experiment__button--float-right {
    position: relative;
    float: right;
}

.configure-experiment__button--float-left {
    float: left;
}

.place-progress__start--not-running {
    fill: #333333;
    stroke: none;
}

.place-progress__start--not-running:hover {
    fill: #337733;
}

.place-progress__start--running {
    fill: #333377;
    stroke: none;
}

.place-progress__config--future-phase {
    fill: #333333;
    stroke: none;
}

.place-progress__config--present-phase {
    fill: #337733;
    stroke: none;
}

.place-progress__config--past-phase {
    fill: #333377;
    stroke: none;
}

.place-progress__update--future-phase {
    fill: #fbfbfb;
    fill-opacity: 0.7;
    stroke: #333333;
    stroke-width: 14.5;
}

.place-progress__update--present-phase {
    fill: #fbfbfb;
    fill-opacity: 0.7;
    stroke: #337733;
    stroke-width: 14.5;
}

.place-progress__update--past-phase {
    fill: #333377;
    fill-opacity: 0.7;
    stroke: #333377;
    stroke-width: 14.5;
}

.place-progress__cleanup--future-phase {
    fill: #333333;
    stroke: none;
}

.place-progress__cleanup--present-phase {
    fill: #337733;
    stroke: none;
}

.place-progress__cleanup--past-phase {
    fill: #333377;
    stroke: none;
}

.place-progress__finished--not-running {
    fill: #333333;
    stroke: none;
}

.place-progress__finished--running {
    fill: #333333;
    stroke: none;
}

/* the PLACE content (excluding plugins) */
#place-content {
    overflow: hidden;
    margin: 0;
    padding: 0 7%;
}

/* the navigation bar for switching between plugins */
#plugin-navbar {
    overflow: hidden;
    margin: 0;
    padding: 0 7%;
}

/* this is where the plugins display */
#plugin-content {
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0 7%;
    flex: 10;
}

/* version info and credits */
#place-footer {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    overflow: hidden;
    min-height: 54px;
}

/* plugin menu */
#pluginbuttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#pluginbuttons button {
    width: auto;
}

.pluginButton {
    flex: 1;
    text-align: center;
    background-color: rgba(220,220,220,0.7);
}

.pluginButtonActive {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}

button:hover {
    background-color: gainsboro;
}

/* plugins */
#pluginarea {
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
}

.plugin {
    display: none;
    overflow: hidden;
}

li a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px 0px 0px;
    text-decoration: none;
}

.close-x {
    position: relative;
    float: right;
}

button.close-x {
    border: none;
    text-decoration: none;
    color: black;
    padding: 4px 4px;
    display: block;
    text-align: left;
}

#placemain {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 20px 7%;
}


button {
    float: none;
    background-color: inherit;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* PLACE main */
#start-button {
    font-size: 1.4em;
    transition-duration: 0.3s;
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
    padding: 12px 20px;
    float: left;
}

#start-button:hover {
    background-color: #339933;
    border: 2px solid #339933;
}

#start-button-inactive {
    font-size: 1.4em;
    transition-duration: 0.3s;
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
    padding: 12px 20px;
}

#start-button-inactive:hover {
    background-color: #993333;
    border: 2px solid #993333;
}

.pluginInternalButton {
    background-color: white;
}

#updateNumber {
    font-size: 1.4em;
    width: 60px;
    border: hidden;
    padding: 12px 0px 12px 12px;
}

#update-text {
    padding-left: 20px;
    font-size: 1.4em;
}

#commentsBox {
    width: 100%;
}

.tabcontent {
    display: none;
}

table, th, td {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 12px;
}

caption {
    font-weight: bold;
}

#data-table {
    min-width: 250px;
}

.horizontal-align {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
}

.error-text {
    color: red;
}

.warning-text {
    border-top: 2px solid orangered;
    padding-top: 8px;
}

#device0 {
    background-color: #77a8a8
}
#device1 {
    background-color: #d9ecd0
}
#device2 {
    background-color: #b9b0b0
}
#device3 {
    background-color: #e4d1d1
}

tr.skip-row td {
    border: 0;
    text-align: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: gainsboro;
    color: black;
    text-align: left;
    padding: 5px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 30%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.6s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gainsboro transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* plot */
#prevPlotButton {
    float: left;
}

#nextPlotButton {
    float: right;
}

.plotTitle {
    text-align: center;
    margin-bottom: 0;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url("placeBack.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

div {
    margin: 0px auto 
}

li {
    float: left;
    padding: 10px 5px;
}

pre {
    margin: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 3px;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 3px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 0.5em;
}

img {
    display: block;
    margin: auto;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
