#PLACE {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

.instrument {
    width: 700px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

.postprocessing {
    width: 700px;
    border-style: dashed;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

h1 {
    font-family: Georgia, serif;
    font-variant: small-caps;
    margin-top: 0px;
    margin-bottom: 3px;
}

h2 {
    font-variant: small-caps;
    margin-top: 0px;
    margin-bottom: 3px;
}

.horizontal-align {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
    vertical-align: top;
}

iframe {
    width: 641px;
    height: 500px;
    resize: both;
    overflow: hidden;
}

.error-text {
    color: red;
}
