#PLACE {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

#start-button {
    font-size: 1.4em;
    transition-duration: 0.3s;
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
    padding: 12px 20px;
}

#start-button:hover {
    background-color: #339933;
    border: 2px solid #339933;
}

#update-number {
    font-size: 1.4em;
    text-align: right;
    width: 60px;
    border: hidden;
    padding: 12px 0px 12px 12px;
}

#update-text {
    font-size: 1.4em;
}

.instrument {
    width: 700px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

.postprocessing {
    width: 700px;
    border-style: dashed;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

.export {
    width: 700px;
    border-style: dotted;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

h1 {
    font-family: Georgia, serif;
    font-variant: small-caps;
    margin-top: 0px;
    margin-bottom: 3px;
}

h2 {
    font-variant: small-caps;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 3px;
}

table, th, td {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 12px;
}

caption {
    font-weight: bold;
}

#data-table {
    min-width: 250px;
}

.horizontal-align {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
    vertical-align: top;
}

.error-text {
    color: red;
}

#device0 {
    background-color: #77a8a8
}
#device1 {
    background-color: #d9ecd0
}
#device2 {
    background-color: #b9b0b0
}
#device3 {
    background-color: #e4d1d1
}

pre {
    margin: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

tr.skip-row td {
    border: 0;
    text-align: center;
}
