li {
    float: left;
    padding: 10px 5px;
}

a.active {
    background-color: gainsboro;
}

li a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px 0px 0px;
    text-decoration: none;
}

footer {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    padding: 10px 16px 10px 0px;
    opacity: 0.60;
}

.close-x {
    position: relative;
    float: right;
}

button.close-x {
    background-color: white;
    border: none;
    text-decoration: none;
}

#PLACE {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    float: none;
    background-color: inherit;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#start-button {
    font-size: 1.4em;
    transition-duration: 0.3s;
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
    padding: 12px 20px;
}

#start-button:hover {
    background-color: #339933;
    border: 2px solid #339933;
}

#start-button-disconnected {
    font-size: 1.4em;
    transition-duration: 0.3s;
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
    padding: 12px 20px;
}

#start-button-disconnected:hover {
    background-color: #993333;
    border: 2px solid #993333;
}

#update-number {
    font-size: 1.4em;
    text-align: right;
    width: 60px;
    border: hidden;
    padding: 12px 0px 12px 12px;
}

#update-text {
    font-size: 1.4em;
}

.instrument {
    width: 700px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

.postprocessing {
    width: 700px;
    border-style: dashed;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

.export {
    width: 700px;
    border-style: dotted;
    border-width: 1px;
    margin: 10px 0;
    padding: 5px;
}

h1 {
    font-family: Georgia, serif;
    font-variant: small-caps;
    margin-top: 0px;
    margin-bottom: 3px;
}

h2 {
    font-variant: small-caps;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 3px;
}

table, th, td {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 12px;
}

caption {
    font-weight: bold;
}

#data-table {
    min-width: 250px;
}

.horizontal-align {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 20px;
    vertical-align: top;
}

.error-text {
    color: red;
}

.warning-text {
    border-top: 2px solid orangered;
    padding-top: 8px;
}

#device0 {
    background-color: #77a8a8
}
#device1 {
    background-color: #d9ecd0
}
#device2 {
    background-color: #b9b0b0
}
#device3 {
    background-color: #e4d1d1
}

pre {
    margin: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

tr.skip-row td {
    border: 0;
    text-align: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: gainsboro;
    color: black;
    text-align: left;
    padding: 5px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 30%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.6s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gainsboro transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
